@model IList<Post>
@{
    ViewData["Title"] = "All Posts";
}
<link rel="stylesheet" href="~/css/profile.css" />
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>

<h2>@ViewData["Title"]</h2>
<br />

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="col-sm-3">
                <p><a class="nav-link text-dark" asp-area="Admin" asp-controller="User" asp-action="Index">All users</a></p>
            </th>
            <th class="col-sm-3">
                <p><a class="nav-link text-dark" asp-area="Admin" asp-controller="Post" asp-action="Index">All posts</a></p>
            </th>
            <th class="col-sm-3">
                <p><a class="nav-link text-dark" asp-controller="Feed" asp-action="Index">Feed</a></p>
            </th>
        </tr>
    </thead>
</table>

@{
    if (Model != null && Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <table class="table table-responsive table-striped table-bordered" style="width: 100%;">
                <thead>
                    <tr>
                        <th class="col-sm-1">ID</th>
                        <th class="col-sm-9">Text</th>
                        <th class="col-sm-1">User ID</th>
                        <th class="col-sm-1">Actions</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td class="col-sm-1">@item.ID</td>
                            <td class="col-sm-9">@item.Text</td>
                            <td class="col-sm-1">@item.UserID.ToString()</td>
                            <td class="col-sm-1">
                                <form method="post" asp-action="Delete" asp-route-id="@item.ID" onsubmit="return confirm('Are you sure you want to delete this post?');">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                </tbody>
            </table>
        }
    }
    else
    {
        <h2>Posts are empty!</h2>
    }
}