@model IList<UTB.SocSit.Yalynnyi.Ispaniuk.Infrastructure.Identity.User>
@{
    ViewData["Title"] = "All Users";
}
<h2>@ViewData["Title"]</h2>
<br />

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="col-sm-6">
                <p><a class="nav-link text-dark" asp-area="Admin" asp-controller="User" asp-action="Index">All users</a></p>
            </th>
            <th class="col-sm-6">
                <p><a class="nav-link text-dark" asp-area="Admin" asp-controller="Post" asp-action="Index">All posts</a></p>
            </th>
        </tr>
    </thead>
</table>

@{
    if (Model != null && Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <table class="table table-responsive table-striped table-bordered" style="width: 100%;">
                <thead>
                    <tr>
                        <th class="col-sm-1">ID</th>
                        <th class="col-sm-1">Email</th>
                        <th class="col-sm-1">Name</th>
                        <th class="col-sm-2">Username</th>
                        <th class="col-sm-1">Photo</th>
                        <th class="col-sm-3">Bio</th>
                        <th class="col-sm-1">Birthday</th>
                        <th class="col-sm-1">Updated</th>
                        <th class="col-sm-1">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-sm-1">@item.Id</td>
                        <td class="col-sm-1">@item.Name</td>
                        <td class="col-sm-1">@item.Email</td>
                        <td class="col-sm-2">@item.UserName</td>
                        <td class="col-sm-1">@item.Photo</td>
                        <td class="col-sm-3">@item.Bio</td>
                        <td class="col-sm-1">@item.Birthday</td>
                        <td class="col-sm-1">@item.Updated</td>
                        <td class="col-sm-1">
                            <form method="user" asp-action="Delete" asp-route-param1="@item.Id" onsubmit="return confirm('Are you sure you want to block this user?');">
                                <button type="submit" class="btn btn-danger">Block</button>
                            </form>
                            <form method="user" asp-action="Promote" asp-route-param1="@item.Id" onsubmit="return confirm('Are you sure you want to promote this user to admin?');">
                                <button type="submit" class="btn btn-primary">Promote</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        }
    }
    else
    {
        <h2>Users DB table is empty!</h2>
    }
}
